input,
label,
textarea,
select
{
    float:left;
    margin-left:8px;
    margin-bottom:8px;
}
label
{
    clear:left;
    width:200px;
    font-weight: bold;
}

label.error
{
    background-color: red;
    color:white;
    border:1px solid #900000;
}

input.error,
label.error,
textarea.error,
select.error
{
    border:1px solid #900000;
}


fieldset
{
    clear:left;
    background-color:#f0f0f0;
    border:1px solid #666666;
    border-radius: 4px;
    margin-bottom:16px;
    padding: 8px 8px 0;
}
fieldset legend
{
    font-weight: bold;
    font-size:18px;
}
p
{
    background-color:#999999;
    padding:4px;
    margin:0 0 8px;
    color:white;
    border-radius: 4px;
}

.type_field
{
    float:left;
    clear:left;
    background-color:#cccccc;
    padding: 8px 8px 0;
    margin-bottom:16px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

.errorContainer
{
    border:1px solid #900000;
}